.main-section{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 120px;
    background-image: url("hero-background-img.jpg");
    align-items: center;
    justify-content: center;
    padding: 160px;
    border-radius: 25px;
    .head-text{
        color: white;
        font-size: 42px;
        line-height: 20px;
        font-weight: 500px;
        letter-spacing: 2px;
        margin-bottom: 25px;
    }
    .sub-text{
        color: white;
        font-size: 20px;
        letter-spacing: 2px;
    }
}
